# Игнорировать папку .vs (кеш, настройки, временные файлы)
.vs/

# Игнорировать файлы пользовательских настроек
*.user
*.userosscache
*.sln.docstates

# Игнорировать бинарные и временные файлы
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/